[submodule "apps/trainy"]
	path = apps/trainy
	url = https://github.com/RadoslavTsvetanov/Train-y
[submodule "apps/graphy-broswer-extension"]
	path = apps/graphy-broswer-extension
	url = https://github.com/RadoslavTsvetanov/Graphy.git
[submodule "apps/better-chat"]
	path = apps/better-chat
	url = https://github.com/RadoslavTsvetanov/better-chat.git
[submodule "apps/better-ai-chat"]
	path = apps/better-ai-chat
	url = https://github.com/TS-Underated-lang/better-chat.git
[submodule "apps/dev-branch-exposer"]
	path = apps/dev-branch-exposer
	url = https://github.com/TS-Underated-lang/dev-branches-exposer.git
[submodule "packages/frontend-components"]
	path = packages/frontend-components
	url = https://github.com/TS-Underated-lang/frontend-components.git
[submodule "packages/backend-tools/kafka/orm"]
	path = packages/backend-tools/kafka/orm
	url = https://github.com/DockerByTheGo/kafka-orm.git
[submodule "packages/browser-tiling-window-manager"]
	path = packages/browser-tiling-window-manager
	url = https://github.com/DockerByTheGo/browser-tiling-window-manager.git
[submodule "packages/better-standard"]
	path = packages/better-standard
	url = https://github.com/DockerByTheGo/improved-standard-library.git
[submodule "packages/backend-tools/custom-backend/lib"]
	path = packages/backend-tools/custom-backend/lib
	url = https://github.com/DockerByTheGo/blaze-library.git
