[submodule "projects/better0chat"]
	path = apps/better0chat
	url = https://github.com/RadoslavTsvetanov/better-chat.git
[submodule "apps/dev-branch-exposer"]
	path = apps/dev-branch-exposer
	url = https://github.com/TS-Underated-lang/dev-branches-exposer.git
[submodule "general_packages/frontend-components"]
	path = packages/frontend-components
	url = https://github.com/TS-Underated-lang/frontend-components.git
[submodule "general_packages/backend-tools/kafka/orm"]
	path = packages/backend-tools/kafka/orm
	url = https://github.com/DockerByTheGo/kafka-orm.git
[submodule "general_packages/browser-tiling-window-manager"]
	path = packages/browser-tiling-window-manager
	url = https://github.com/DockerByTheGo/browser-tiling-window-manager.git
[submodule "general_packages/better-standard"]
	path = packages/better-standard
	url = https://github.com/DockerByTheGo/improved-standard-library.git
[submodule "general_packages/backend-tools/custom-backend/lib"]
	path = packages/backend-tools/custom-backend/lib
	url = https://github.com/DockerByTheGo/blaze-library.git
[submodule "projects/graphy"]
	path = apps/graphy
	url = https://github.com/RadoslavTsvetanov/Graphy.git
